@charset "utf-8";

body {
    margin: 0px;
    background: #f3f2f3;
    font-size: 12px;
    color: #666;
    font-family: "\5fae\8f6f\96c5\9ed1";
    width: 980px;
    margin: 0 auto;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
	list-style: none;
} 
img {
    border: none;
}
a {
    text-decoration: none;
    color: #444;
}
a:hover {
    color: #DB6212;
}
input,textarea{margin: 0; padding: 0;}
form,h1,h2,h3{margin: 0;}
input {
    border: none;
}
