<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="configuration" class="org.shack2.lucene.Configuration" init-method="init">
		<property name="dirPath" value="D:/indexDir" />
	</bean>
	
	<bean id="documentUtil" class="org.shack2.lucene.DocumentUtil" />
	
	<bean id="luceneUtil" class="org.shack2.lucene.LuceneUtil" init-method="init" destroy-method="destory">
		<property name="configuration" ref="configuration" />
	</bean>
	
	<bean id="highlighterUtil" class="org.shack2.lucene.HighlighterUtil">
		<property name="configuration" ref="configuration" />
	</bean>
	
</beans>