<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd ">

	<context:component-scan base-package="org.shack2" />
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/xinblog?useUnicode=true&amp;characterEncoding=UTF-8"></property>
		<property name="username" value="root"></property>
		<property name="password" value="Hcx221664"></property>
	</bean>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/admin/article/**"/>
			<bean class="org.shack2.filter.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	<bean id="baseDao" class="org.shack2.dao.impl.BaseDaoImpl">
		<property name="dataSource" ref="ds"></property>
	</bean>
	
	<bean id="articleDaoImpl" class="org.shack2.dao.impl.ArticleInfoDaoImpl">
		<property name="dataSource" ref="ds"></property>
	</bean>
	
	<bean id="typeInfoDaoImpl" class="org.shack2.dao.impl.TypeInfoDaoImpl">
		<property name="dataSource" ref="ds"></property>
	</bean>
	
	<bean id="msgInfoDaoImpl" class="org.shack2.dao.impl.MsgInfoDaoImpl">
		<property name="dataSource" ref="ds"></property>
	</bean>
	
	<bean id="commentInfoDaoImpl" class="org.shack2.dao.impl.CommentInfoDaoImpl">
		<property name="dataSource" ref="ds"></property>
	</bean>
	
	<bean id="tagInfoDaoImpl" class="org.shack2.dao.impl.TagInfoDaoImpl">
		<property name="dataSource" ref="ds"></property>
	</bean>
	
	<bean id="linkInfoDaoImpl" class="org.shack2.dao.impl.LinkInfoDaoImpl">
		<property name="dataSource" ref="ds"></property>
	</bean>
</beans>